.title{
    display: flex;
    align-items: center;
    height: 100px
}

h2{
    margin: 0;
    color: #00F6E8;
}
.passive{
    width: 100px;
}
.yasuo1{
    width: 900px;
    margin-left: 400px;
    margin-top: -100px;
}
.pr{
    width: 800px;
}
.ru{
    width: 800px;
}
.it{
    width: 600px;
    height: 400px;
}
.end{
    text-align: center;
}
.endd{
    width: 600px;
}
.ende{
    text-align: center;
}
.back{
    background-color:#0F0D25;
}
p{
    color: white;
}
.yellow{
    color: yellow;
}
.hhh{
    color: #09FBA4;
}
.g{
    color: #DE1A0E;
}
.gg{
    color: #FF9B05;
}
.ggg{
    color: #6E1EF1;
}
.sov{
    color: #BDFF00;
}
.j{
    color: #F606D0;
}
.jj{
    color: #0138F9;
}
.skins{
    color: #0AFC23;
}
.skinss{
    width: 500px;
}